body {
	--primary-color: #DDDDDD;
	--background-color: #444444;
	--secondary-background-color: #333333;
	--link-color: #00CCFF;
	font-family: 'MesloLGM Nerd Font Mono';
	background-color: var(--background-color);
	color: var(--primary-color);
}

div.content {
	max-width: 80%;
	margin: auto;
	border: 5px solid var(--primary-color);
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: var(--secondary-background-color);
}

code {
	color: magenta;
}

span.repo-link {
	font-weight: bold;
	text-decoration: none;
}

span.repo-link img {
	max-height: 28px;
	margin-right: 15px;
	margin-left: 0px;
}

a {
	color: var(--link-color);
}

img {
	border-radius: 15px;
}

img.gallery {
	max-width: 45%;
}